vHost 1
vhost-1.esxlab.local

 vNic 1: Nested Guest Virtual Machine Networks
  vmnet-07-vmnet
  ethernet0.address = "00:50:56:3D:0F:14"

 vNic 2: Management
  vmnet-02-mgmt
  ethernet1.address = "00:50:56:34:EA:DF"

 vNic 3: Storage
  vmnet-03-storage
  ethernet2.address = "00:50:56:2A:9D:31"

vNic 4: Fault Tolerance
 vmnet-04-fault
 ethernet3.address = "00:0c:29:15:da:69"

 vmnet-05-vMotion

 vmnet-05-vMotion
 vmnet-05-vMotion

 ethernet3.address = "00:0c:29:15:da:69"

 vmnet-07-vmnet
 ethernet4.address =  "00:50:56:3D:0B:A2"

 ethernet5.address = "00:50:56:3D:0B:A2"
 ethernet4.address = "00:50:56:35:BC:78"

vHost 2
hostname: vhost-2.esxlab.local
ethernet0.generatedAddress = "00:0c:29:7a:a2:08"
ethernet1.generatedAddress = "00:0c:29:7a:a2:12"
ethernet2.generatedAddress = "00:0c:29:7a:a2:1c"
ethernet3.generatedAddress = "00:0c:29:7a:a2:26"


vHost 3
ethernet0.generatedAddress = "00:0c:29:49:b1:ec"
ethernet1.generatedAddress = "00:0c:29:49:b1:f6"
ethernet2.generatedAddress = "00:0c:29:49:b1:00"
ethernet3.generatedAddress = "00:0c:29:49:b1:0a"

vCSA



DNS




Referring to guide from:
http://www.enterprisedaddy.com/how-to-setup-vmware-vsphere-lab-in-vmware-workstation/

https://www.virtualizationhowto.com/2015/04/lightweight-dns-server-vmware-lab/
